
body {
    font-family: sans-serif;
    background-image: url('background.png.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
}



header {
    text-align: center;
    padding: 20px;
}

.headshot {
    width: 250px; 
    height: auto; 
    border-radius: 50%; /* circular image */
}

/* Navigation */
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: blue;
}

nav ul li a:hover {
    color: red;
}

/* Assignments Table */
table {
    width: 100%;
    border-collapse: collapse;
}

table tr:nth-child(even) {
    text-align: center;
    background-color: #f2f2f2;
}

table tr:nth-child(odd) {
    text-align: center;
    background-color: white;
}

 /* makes sure h2 are centers */
h2 {
    text-align: center;
    padding: 30px;
    margin: 90px;
}

 /*size and border radius of the image class */
 .album-cover {
    width: 150px; /* Adjust image size */
    height: auto; /* Keeps aspect ratio */
    border-radius: 0 px; /* Slight rounded corners (optional) */
}

/* first albumn own cover class to ajust the size */
.album-cover1 {
    width: 180px; /* Adjust image size */
    height: 180px; /* Keeps aspect ratio */
    border-radius: 0 px; /* Slight rounded corners (optional) */
}
 /*first albumn */
.favalbum {
    display: flex; /* display images in row */
    justify-content: center; /* center images */
    gap:10px;
    list-style: none;
}
 /*using the class to add space in the bottom of the row */
.favalbum {
    margin-bottom: 5px; /* Adds space between rows */
}

.Albums {
    display: flex; /* display images in row */
    justify-content: center; /* center images */
    gap:10px;
    list-style: none;
}
.Albums {
    margin-bottom: 5px; /* Adds space between rows */
}

.Albums2 {
    display: flex; /* display images in row */
    justify-content: center; /* center images */
    gap:10px;
    list-style: none;
}
.Albums2 {
    margin-bottom: 5px; /* Adds space between rows */
}

.Albums3 {
    display: flex;
    gap:10px;
    justify-content: center;
    list-style: none;
}
.Albums3 {
    margin-bottom: 5px; /* Adds space between rows */
}


/* quote Section */
.quote {
    text-align: center;
    font-style: italic;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ga state and cs styling */
span.special {
    color: red;
    font-weight: bold;
}